﻿@using la_mia_pizzeria_crud_mvc.Data
@model Pizza

<h1 class="text-center">PIZZA SELEZIONATA: @Model.Name</h1>
@* <div class="row">
    <div class="col">@Model.Name</div>
    <div class="col">@Model.Description</div>
    <div class="col">@Model.Price.ToString("F2")</div>
    <div class="col"><a href="@Url.Action("Index", "Pizza")">BACK</a></div>
</div> *@
<div class="d-flex justify-content-center align-items-center">
    <div class="card align-items-center my-3" style="width: 100vw;">
        <img src="@Model.Image" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>